<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); -%>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); -%>
  </header>

  <main>
    <div class="banner-container">
      <div class="left-container">
        <div class="typography">
          <h1 class="banner-header">I'm Charl Roux</h1>
          <p class="banner-text">Front End Developer</p>
          <button class="banner-button hire-button">
            Get In Touch
          </button>
        </div>
      </div>
      <div class="right-container">
        <img src="/assets/banner-image.png" alt="" class="banner-image">
      </div>
    </div>
    <div class="about-container">
      <div class="flex-container">
        <div class="left-container">
          <div class="header-container">
            <div class="about-container-header">
              <h2 class="about-header">
                About Me
              </h2>
              <div class="line"></div>
            </div>
          </div>
        </div>
        <div class="right-container">
          <div class="text-container">
            <p class="about-text">
              My role is to write and style the front-end components that meet the requirements of our mocks and full-fill our user stories. I also monitor and process pull requests for production deployments.
            </p>
            <p class="about-text">
              I have <b>5 years experience</b>.
            </p>
            <button class="banner-button portfolio-button">
              View Works
            </button>
            <a href="/assets/files/CharlRoux.pdf" download>
              <button class="banner-button outline">
                Download CV
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="services-container">
      <div class="top-container">
        <h2 class="services-header">Services</h2>
        <div class="service-line"></div>
        <p class="services-text">Here is a list of services I offer as a freelancer.</p>
      </div>
      <div class="services">
        <% indexData.service.forEach(function(service){ %>
        <div class="entry" style="background-image: url('<%- service.background %>')">
          <div class="icon">
            <img src=<%- service.image %> alt="">
          </div>
          <div class="header"><%- service.header %></div>
          <div class="text"><%- service.text %></div>
        </div>
        <% }); %>
      </div>
    </div> -->
    <div class="recent-works-container">
      <div class="inner-container">
        <div class="top-container">
          <h2 class="services-header">Recent Works</h2>
          <div class="service-line"></div>
          <p class="services-text">Have a look at my recent works</p>
        </div>
        <ul class='portfolio'>
          <li class="sort all active" data-rel="all">All</li>
          <!-- <li class="sort wordpress" data-rel="wordpress">Wordpress</li> -->
          <li class="sort angular" data-rel="nodejs">HTML, CSS & JS</li>
          <li class="sort react" data-rel="react">Framework</li>
        </ul>
        <div style="clear:both;"></div>
        <div id="portfolio">
          <% indexData.projects.forEach(function(project){ %>
            <a href="<%= project.url %>">
            <div class="tile all <%- project.type %>">
              <img src="<%- project.background %>" alt="Avatar" class="image">
              <div class="company-image-overlay">
                <div class="overlay-header"><%- project.name %></div>
                <div class="overlay-text"><%- project.desc %></div>
              </div>
            </div>
            </a>
          <% }); %>
        </div>
      </div>
      <!-- <div class="work-experience-contianer">
        <div class="work-experience-top-container">
          <h2 class="work-experience-header">
            Work Experiences
          </h2>
          <div class="service-line"></div>
          <p class="work-experience-text">
            Here is a list of my work expriences to date.
          </p>
        </div>
        <div class="work-experience-entries-container">
          <% indexData.experience.forEach(function(experience){ %>
          <div class="work-experience-entry">
            <div class="work-experience-date">
              <%- experience.date %>
            </div>
            <div class="work-experience-header">
              <%- experience.title %>
            </div>
            <div class="work-experience-company">
              <%- experience.company %>
            </div>
            <div class="work-experience-text">
              <%- experience.text %>
            </div>
          </div>
          <% }); %>
        </div>
      </div> -->
    </div>
    <!-- <div class="prompt-container">
      <div class="prompt-top-container">
        <h2 class="prompt-header">
          Have Any Project In Mind?
        </h2>
        <div class="service-line"></div>
        <div class="button-container">
          <button class="banner-button prompt">
            Get In Touch
          </button>
        </div>
      </div>
    </div> -->
    <div class="contact-container">
      <div class="left-contact-container">
        <div class="contact-header">
          <h3 class="contact-header">
            Contact Info
          </h3>
        </div>
        <div class="contact-information">
          <ul>
            <!-- <li>
              <div class="contact-item-container">
                <div class="icon">
                  <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21 0C13.2805 0 6.99994 6.28056 6.99994 14C6.99994 16.3174 7.57933 18.6151 8.68076 20.6531L20.2344 41.5488C20.3882 41.8274 20.6813 42 21 42C21.3187 42 21.6118 41.8274 21.7656 41.5488L33.3234 20.6462C34.4206 18.6151 35 16.3173 35 13.9999C35 6.28056 28.7194 0 21 0ZM21 21C17.1402 21 14 17.8598 14 14C14 10.1403 17.1402 7.00005 21 7.00005C24.8597 7.00005 27.9999 10.1403 27.9999 14C27.9999 17.8598 24.8597 21 21 21Z"
                      fill="#727B85" />
                  </svg>
                </div>
                Strand, Cape Town
              </div>
            </li> -->
            <li>
                
              <div class="contact-item-container">
                <div class="icon">
                  <svg width="30" height="30" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                      <path
                        d="M38.3086 5.00391H3.6914C3.12317 5.00391 2.5912 5.14361 2.10992 5.37387L20.918 24.1819L25.1335 20.1306C25.1335 20.1306 25.1338 20.1302 25.1339 20.1301C25.134 20.1299 25.1343 20.1297 25.1343 20.1297L39.8906 5.3742C39.4093 5.14377 38.877 5.00391 38.3086 5.00391Z"
                        fill="#727B85" />
                      <path d="M41.6306 7.11475L27.7441 21.0005L41.6301 34.8865C41.8603 34.4052 42 33.8733 42 33.305V8.69565C42 8.12775 41.8607 7.59586 41.6306 7.11475Z" fill="#727B85" />
                      <path d="M0.369961 7.11328C0.139699 7.59456 0 8.12653 0 8.69476V33.3041C0 33.872 0.139535 34.4041 0.369633 34.8852L14.2561 20.9994L0.369961 7.11328Z" fill="#727B85" />
                      <path
                        d="M26.0041 22.7404L21.788 26.7922C21.5477 27.0325 21.2328 27.1527 20.9181 27.1527C20.6033 27.1527 20.2884 27.0325 20.0481 26.7922L15.9961 22.7402L2.10938 36.6261C2.59073 36.8565 3.12304 36.9964 3.69143 36.9964H38.3086C38.8768 36.9964 39.4088 36.8567 39.8901 36.6264L26.0041 22.7404Z"
                        fill="#727B85" />
                    </g>
                    <defs>
                      <clipPath id="clip0">
                        <rect width="42" height="42" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                charlroux641@gmail.com
              </div>
            </li>
            <li>
              <div class="contact-item-container">
                <div class="icon">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M39.5712 30.3358C38.0822 27.5205 32.9115 24.468 32.6838 24.3345C32.0194 23.9562 31.3261 23.756 30.6773 23.756C29.7125 23.756 28.9228 24.198 28.4445 25.0019C27.6882 25.9067 26.7501 26.9643 26.5225 27.1282C24.7606 28.3237 23.3814 28.188 21.8553 26.6617L13.3381 18.1426C11.8217 16.6259 11.6823 15.2294 12.8695 13.477C13.0356 13.2478 14.093 12.3089 14.9977 11.5517C15.5746 11.2083 15.9706 10.6981 16.1441 10.0721C16.3747 9.23927 16.2049 8.25957 15.6606 7.30509C15.5323 7.08557 12.4787 1.91341 9.66536 0.424956C9.14036 0.146843 8.54862 0 7.9554 0C6.97806 0 6.05857 0.3812 5.36747 1.07166L3.48547 2.95318C0.508981 5.92936 -0.568458 9.30305 0.281332 12.9801C0.990232 16.0445 3.05613 19.3055 6.42266 22.6717L17.3268 33.5775C21.5876 37.8389 25.6497 40 29.4004 40C29.4004 40 29.4004 40 29.4011 40C32.1596 40 34.7312 38.8275 37.0425 36.5158L38.9238 34.6343C40.0672 33.4914 40.3268 31.7634 39.5712 30.3358Z" fill="#727B85"/>
                    </svg>
                                        
                    
                </div>
                082 954 3244
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="right-contact-container">
        <div class="contact-form">
          <form class="form" id="form1" action="/" target="_blank" method="post">

            <p class="name">
              <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Name" id="name" />
            </p>

            <p class="email">
              <input name="email" type="email" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email" />
            </p>

            <p class="text">
              <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Comment"></textarea>
            </p>


            <div class="submit">
              <input type="submit" value="SEND MESSAGE" id="button-blue" />
              <div class="ease"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); -%>
  </footer>

</body>

</html>
