<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); -%>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); -%>
  </header>

  <main>
    <div class="feature-container">
      <img src="<%- indexData.previewImage %>" alt="" class="feature-image">
    </div>
    <div class="banner-container project">
      <div class="left-container project">
        <div class="project-description__container">
          <h2><%- indexData.name %></h2>
          <p>
            <%- indexData.previewDesc %>
          </p>
        </div>
      </div>
      <div class="right-container">
        <div class="links">
          <a href="<%- indexData.previewURL %>">
            <button class="banner-button portfolio-button">
              Live Preview
            </button>
          </a>
          <%if (indexData.gitURL) { %>
          <a href="<%- indexData.gitURL %>">
            <button class="banner-button outline">
              Github
            </button>
          </a>
          <% } %>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); -%>
  </footer>

</body>

</html>
